sentencepiece
git+https://github.com/dtuggener/CharSplit
pandas>=1.4.2
sklearn>=0.0
scikit-learn>=1.1.1
evaluate>=0.1.2
spacy>=3.3.1
transformers>=4.20.1
numpy>=1.22.4
datasets>=2.3.2
nltk>=3.7
wandb>=0.12.21
hydra-core>=1.2
protobuf<=3.20
bs4
hydra-optuna-sweeper

